.complete-signup-page {
    padding: var(--spacing-xl) var(--spacing-md);
    min-height: 100vh;
    display: block;
    background-color: var(--background-light);
}

.complete-signup-page form {
    margin: 0 auto;
}