
#fundraiser-list {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  column-gap: 50px;
  row-gap: 30px;
  padding: 90px 20px;
  justify-content: center;
}

body {
  font-family: 'Poppins', sans-serif;
}