@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

.stats-banner {
  width: 800px;
  border-radius: 20px;
  font-family: 'Space Mono', sans-serif;
  font-size: 12px;
  margin: 0 auto;
  background-color: var(--brand)
}

.stats-banner__inner {
  max-width: 800px;
  margin: 0 auto;
  padding: 8px 6px;
  display: flex;
  gap: 18px;
  align-items: center;
  justify-content: center;
}

.stats-banner .stat {
  color: #333;
}

.stats-banner .stat strong {
  color: #111;
  margin-left: 6px;
}

@media (max-width: 640px) {
  .stats-banner__inner {
    flex-direction: column;
    gap: 6px;
    padding: 8px 12px;
  }
}
