@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

:root {
  --primary: #000000;
  --secondary: #FFFFFF;
  --brand: #d3daf7;
  --accent: rgb(246, 109, 109);
  --shadow: 8px 8px 0px var(--primary);
  font-family: 'Space Mono', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: rgb(234, 237, 245);
}

#root {
  min-height: 100vh;
}